.fontHeader {
    font-family: 'Lobster', cursive;
}
.jumbo {
    background: url(./allpictures/starlight.jpg);
    color: floralwhite;
}
body {
    background-color: #F3F4ED;
    font-family: 'Nunito', sans-serif;
}
.bgmenu {
    background: url(./allpictures/vegetables1.jpg) no-repeat;
    background-size: cover;
}
@media (min-width: 768px) { 
    .one {
        padding-top: 3%;
    }
}