.fontHeader {
    font-family: 'Lobster', cursive;
}
.jumbo {
    background: url(./allpictures/starlight.jpg);
    color: floralwhite;
}
body {
    background-color: #F3F4ED;
    font-family: 'Nunito', sans-serif;
}
.padding {
    margin-left: -5em;
}